<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3033ad35-6bba-4e08-94b9-64d8b9792df4/resourceGroups/SportskiCentarRKS/providers/Microsoft.Web/sites/SportskiCentarRKSAPI</ResourceId>
    <ResourceGroup>SportskiCentarRKS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sportskicentarrksapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sportskicentarrksapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SportskiCentarRKSAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SportskiCentarRKSAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sportskicentarrksapidbserver.database.windows.net,1433;Initial Catalog=SportskiCentarRKSAPI_db;User ID=AmirRavnjak@sportskicentarrksapidbserver;Password=Amir1234" Name="Data Source=tcp:sportskicentarrksapidbserver.database.windows.net,1433;Initial Catalog=SportskiCentarRKSAPI_db;User Id=AmirRavnjak@sportskicentarrksapidbserver;Password=Amir1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SportskiCentarRKS_API.Models.MyContext, SportskiCentarRKS_API" MigrationConfiguration="SportskiCentarRKS_API.Migrations.Configuration, SportskiCentarRKS_API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sportskicentarrksapidbserver.database.windows.net,1433;Initial Catalog=SportskiCentarRKSAPI_db;User Id=AmirRavnjak@sportskicentarrksapidbserver;Password=Amir1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>